* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 195, 199);
    font-family: Arial, sans-serif;
}

.container {
    width: 60rem;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.text {
    border: 2px solid pink;
    padding: 2rem;
    min-height: 120px;
    margin-bottom: 2rem;
}

.text h2 {
    font-size: 2rem;
    font-weight: normal;
}

button {
    padding: 1.2rem 4rem;
    font-size: 1.8rem;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    background: rgb(222, 92, 113);
    color: white;
}

button:active {
    transform: scale(0.98);
}